* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.grid {
    margin: 16px 0;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
}

.grid > h2 {
    margin: 16px 0;
    color: #111;
}

.grid-container {
    padding: 10px;
    border-radius: 8px;
    background-color: #ccc;
}

.grid__item {
    background-color: #f86f3c;
    box-shadow: -1px -2px 5px -4px inset #000000;
    border-radius: 8px;
    padding: 8px;
    color: #fff;
}

.example-1 .grid-container{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}

/* grid-template-columns: 100px 100px; */
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: 50% 25% 25%; */
    /* grid-template-columns: 1fr 1fr 2fr; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(2, 1fr 2fr); */
    /* grid-template-columns: repeat(4, 1fr); */
    /* column-gap: 10px; */
    /* row-gap: 10px; */
    /* gap: 10px 20px; */
    /* gap: 20px;
} */

.example-2 .grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 110px;
    /* grid-template-rows: 100px 150px 200px; */
    /* grid-template-rows: minmax(100px, 200px); */
    /* grid-template-rows: minmax(100px, auto); */
    grid-auto-rows: 150px;
}

.example-3 .grid-container {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: space-between;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
}

.example-5 .grid-container{
    display: grid;
    grid-template-areas: 
    'header header header'
    'aside content right'
    
    'footer footer footer';

    grid-template-rows: 60px;
    grid-auto-rows: 200px;

}
 .example-5 .header{
    grid-area: header;
 }

 .example-5 .aseid{
    grid-area: aside;
     }
 
.example-5 .right{
     grid-area: right;
}
         
.example-5 .content{
     grid-area: content;
        }

.example-5 .footer{
    grid-area: footer;
               }
