*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.w-95{
    width: 95%;
}

.w-85{
    width: 85%;
}

.w-95{
    width: 95%;
}

main{
    margin-left: 120px;
}