*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    line-height: 1.5;

}
.navbar {
    background-color: #222;
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 120px;
}

.navbar img {
    width: 100%;
    display: block;
}

.navbar__content {
    display: flex;
    flex-direction: column;
}

.navbar__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 12px 24px;
    text-decoration: none;
}

.navbar__item span {
    color: #fff;
    font-size: 12px;
}

.navbar__item i {
    color: #fff;
    font-size: 36px;
}

.navbar__item:hover {
    background-color: #000;
}

.navbar__item-active{
    background-color: #000;
}

.navbar__item-active:hover{
    background-color: #ccc;
}

.main{
    /* max-width: 980px; */
    margin-left: 120px;
    padding: 12px 24px;  

}

.container {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    padding: 32px 0;
}
.container p{
    margin: 15px 0;
}
h1{
    font-size: 64px;
    margin: 10px 0;
    text-align: center;
}

section{
    max-width: 980px;
    color: #757575;
    padding: 64px 0px;
    margin: 0 auto;
}

section h2{
    font-size: 30px;
    margin: 10px 0px;
    color: #fff;
    font-weight: 400;
    
}
section hr{
    width: 200px;
    color: #eee;
    border: none;
    border-top: 1px solid #eee;
    margin: 20px 0px;
}

section h3{
    padding: 24px 0px;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
    color: #ffffff;
}

.skill__title{
    letter-spacing: 4px;
    margin: 15px 0px;
}
.skill__scale{
    background-color: #fff;
    color: #fff;
    height: 28px;  

}
.scale__grey95{
    height: 28px;    
    background-color: #616161;
    width: 95%;
}
.scale__grey85{
    height: 28px;    
    background-color: #616161;
    width: 85%;
}
.scale__grey80{
    height: 28px;    
    background-color: #616161;
    width: 80%;
}
.skill-progress__container{
    padding: 16px 0px;
    margin: 32px 0px;
    background-color: #f1f1f1;
    color: #000;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
   
}
.skill__progress{
    margin: 16px 0px;
      
}

button{
    background-color: #f1f1f1;
    padding: 12px 24px;
    margin: 16px 0px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
   
}

button .fa .fa-download{
    margin-right: 5px;
}

.my-photos__container{
    display: flex;
    max-width: 980px;
    margin: 0 -16px;
    padding: 0 8px;
    
}
.my__photos{    
    padding: 0 8px; 
    width: 50%;
    float: left;  
}

.my__photos img{
    margin: 0 0 12px;
    width: 100%;
}

.price__container{
    margin: 0px -16px;
    padding: 0 8px;
}

.tariff{
    padding: 0 8px;
    margin-bottom: 16px;
    width: 50%;
    float: left;
    text-align: center;
}
.tariff ul{
    color: #000;
    opacity: 0.60;
    list-style-type: none;
    background-color: #999;
 }
 .tariff ul:hover{
    background-color: #fff;
    opacity: 1;
 }

 .tariff ul li{
    padding: 24px 16px;
    border-bottom: 1px solid #ddd;
    color: #000;
 }

 .tariff ul li:first-child{
    color: #fff;
    background-color: #616161;
    padding: 32px 0px;
    font-size: 24px;
 }
 .tariff ul li:nth-child(6){
    padding: 16px 0;
 }
 .tariff ul li:last-child{
    background-color: #f1f1f1;
    
 }
 .tariff button{
    background-color: #999;
    cursor: pointer;
 }

 .price{
    font-size: 30px;
    margin: 10px 0px;
    font-weight: 400;
    color: #000;
 }
    
 .reputation__img{
    margin-right: 16px;
    border-radius: 50%;
    border-style: none;
    width: 80px;
    float: left;
 }
 section span{
   margin-right: 16px; 
   font-size: 18px;
 }

 section p{
    margin: 15px 0;
 }

 .contacts__container{
    margin: 16px 0;
 }

 .contacts i{
    width: 1.28571429em;
    text-align: center;
    font-size: 36px;
    color:#fff;
    margin-right: 16px;
 }
 form input{
    padding: 16px 8px;
    display: block;
    border:none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    overflow:visible;
 }
 form .input__img{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
 }

footer{
    padding: 64px 0;
    max-width: 980px;
    font-size: 24px;
    margin: 0 auto;
        
}
.footer-icon ul{
    display: flex;    
    gap: 5px;    
    list-style: none;
}

ul i{
    color: #666666;
}

footer p {
    font-family: "Montserrat", sans-serif;;
    font-size: 15px;
    color: #666666;
    margin: 15px 0;
}

footer a{
    font-family: "Montserrat", sans-serif;
    outline: none;    
    padding: 2px 1px 0;
    cursor: pointer;
    background-color: transparent;
    color: #666666;
}

